body {
    background-color: #d8e4ee;
    text-align: center;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }
  h2{ 
    position: absolute;
    top: 0;
    left: 0;
    margin: 40px;
    color: rgb(175, 171, 171);
    font-size: 40px;
}
  .container {
    box-sizing: border-box;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;	
      padding: 20px;  
  }
  .row {
    display: flex;
  }
  button{ 
    height: 3em;
    margin-top: 7em;
    border-radius: 20px;
    border: none;
    width: 3em;
  }
  input {
    border: none;
    border-radius: 50px;            
    width: 50%;
    margin-left: 15em;
    padding: 10px 6px;	
  font-size: 16px;
    font-weight: 600;	
    text-transform: uppercase;
    text-align: center;
    margin-top: 6em;
    background-color: #fdfdfd;
  }
  input:focus {
    outline: none;
  }
  .bx-search-alt-2{ 
    font-size: 23px;
    
  }
  .card {
    margin-top: 20px;
      display:flex;    
      justify-content: center;
  }
  .card-container {
    margin:  20px 5px;
    border-radius: 20px;
    position: absolute;    
    width: 470px;
    height: 470px;
    background-color: #b7c0c8;    
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);       
  }
  .city-name {    
    font-weight:300;
    font-size:40px;
    color: #6b778d;
    bottom: 0;    
  }
  .icon {
    position: relative;
    width: 268px;
    height: 351px;
    bottom: 305px;
    float:right;
    margin: -66px 5px 0 0; 
    margin-bottom: 2em;   
  }
  .temp {
    position: relative;
    font-weight:300;
    font-size:80px;
    color:#17223b ;        
    right: 120px;
  }
  .card-footer {
    background-color: #16459d;     
    color: aliceblue;                
    position:relative;
    bottom: 280px;
    /* left: 0px; */
    border-radius: 0px 0px 20px 20px;        
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .temp-max-min {    
    font-weight:300;
    font-size:50px;
    color: aliceblue;    
    
  }
  .description {    
    
    font-size:30px;
    color: rgb(55, 58, 61);    
    
  }
  .dark-mode {
    background-color: #4f4c4c;
  color: #d5b6b6;
    height: 77em;
}
  input[type="checkbox"]
  { 
     -webkit-appearance: none;
     visibility: hidden;
     display: none;
  }
  .slider-round{ 
      position: relative;
      display: block;
      width: 60px;
      height: 40px;
      background:  #092c3e;
      cursor: pointer;
      border-radius: 20px;
      overflow: hidden;
      transition: ease-in 0.5s;
      margin-left: 70em;
      top: 34px;
  }
  input[type="checkbox"]:checked ~ .slider-round
  { 
     background:  #fff;
  }
  .slider-round:before{ 
      content: '';
      position: absolute;
      top: 5px;
      left: 6px;
      background:  #fff;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      transition: 0.5s;
  }
  input[type="checkbox"]:checked ~ .slider-round:before
  { 
     transform: translateX(-50px)
  }
  .slider-round:after{ 
      content: '';
      position: absolute;
      top: 5px;
      right: 6px;
      background:  #092c3e;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      transition: 0.5s;
      transform: translateX(-50px)
  }
  input[type="checkbox"]:checked ~ .slider-round:after
  { 
     transform: translateX(0px)
  }